<%= @snack.name %>
<%= @snack.price %>

Find this snack here:
<% @snack.machines.each do |machine| %>
  <li><%= machine.location %></li>
  <li>This machine's avg price is:<%= machine.avg_price %></li>
  <li>This machine has <%= machine.snacks.count %> different snacks.</li>
<% end %>
